In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import yfinance as yf
import os
plt.style.use('ggplot')

# 1. Load Twitter sentiment dataset

In [16]:
data_dir = './data'
sentiment_df = pd.read_csv(os.path.join(data_dir, 'sentiment_data.csv'))

In [17]:
sentiment_df['date'] = pd.to_datetime(sentiment_df['date'])
sentiment_df = sentiment_df.set_index(['date','symbol'])

In [18]:
sentiment_df['engagement_ratio'] = sentiment_df['twitterComments'] / sentiment_df['twitterLikes']

In [19]:
sentiment_df = sentiment_df[(sentiment_df['twitterLikes'] > 20) & (sentiment_df['twitterComments'] > 10)]

In [20]:
sentiment_df

                   twitterPosts  twitterComments  twitterLikes  \
date       symbol
2021-11-18 AAPL           811.0           2592.0       21674.0
           AMD            150.0            675.0        2949.0
           AMZN           557.0           1315.0       12969.0
           ATVI            82.0             36.0         131.0
           BA              61.0             55.0         342.0
...                         ...              ...           ...
2023-01-04 T              184.0           3409.0       14271.0
           TSLA          6767.0         540711.0     3810688.0
           TSN             35.0            168.0         460.0
           V              132.0           1008.0        5943.0
           XOM            212.0            374.0        2071.0

                   twitterImpressions  twitterSentiment  engagement_ratio
date       symbol
2021-11-18 AAPL             7981808.0               NaN          0.119590
           AMD              1645270.0               NaN          0.228891
           AMZN             5590695.0               NaN          0.101396
           ATVI             1310715.0               NaN          0.274809
           BA                425847.0               NaN          0.160819
...                               ...               ...               ...
2023-01-04 T                 884935.0          0.590457          0.238876
           TSLA            55464921.0          0.543057          0.141893
           TSN                57207.0          0.561900          0.365217
           V                 139835.0          0.567286          0.169611
           XOM               483389.0          0.588914          0.180589

[25375 rows x 6 columns]

# 2. Aggregate Monthly and calculate average sentiment for the month

In [25]:
aggregated_df = sentiment_df.reset_index('symbol').groupby([pd.Grouper(freq='M'),'symbol'])[['engagement_ratio']].mean()

In [27]:
aggregated_df['rank'] = aggregated_df.groupby(level=0)['engagement_ratio'].rank(ascending=False)

In [28]:
aggregated_df

                   engagement_ratio  rank
date       symbol
2021-11-30 AAL             0.203835  37.0
           AAPL            0.256318  23.0
           ABBV            0.244677  26.0
           ABT             0.313368  14.0
           AES             0.864613   2.0
...                             ...   ...
2023-01-31 TMO             0.333313  19.0
           TSLA            0.151992  72.0
           TSN             0.280553  30.0
           V               0.194045  60.0
           XOM             0.217904  53.0

[1109 rows x 2 columns]

# 3. Select Top 5 Stock based on their cross-sectional ranking for each month

In [36]:
filtered_df = aggregated_df = aggregated_df[aggregated_df['rank'] <= 5]

filtered_df = filtered_df.reset_index(level=1)

filtered_df.index = filtered_df.index+pd.DateOffset(days=1)

In [37]:
filtered_df

           symbol  engagement_ratio  rank
date
2021-12-01    AES          0.864613   2.0
2021-12-01    FCX          0.626323   5.0
2021-12-01   MNST          0.699721   3.0
2021-12-01    OXY          2.147741   1.0
2021-12-01    SLB          0.647374   4.0
...           ...               ...   ...
2023-02-01      A          0.471572   5.0
2023-02-01    AES          0.533809   4.0
2023-02-01   BIIB          0.839303   1.0
2023-02-01    FCX          0.667387   3.0
2023-02-01    MDT          0.806841   2.0

[75 rows x 3 columns]

In [38]:
filtered_df = filtered_df.reset_index().set_index(['date','symbol'])

In [39]:
filtered_df.head(20)

                   engagement_ratio  rank
date       symbol
2021-12-01 AES             0.864613   2.0
           FCX             0.626323   5.0
           MNST            0.699721   3.0
           OXY             2.147741   1.0
           SLB             0.647374   4.0
2022-01-01 D               0.801994   5.0
           FCX             0.841220   4.0
           L               6.507246   1.0
           LUV             1.303215   2.0
           MA              0.883401   3.0
2022-02-01 AMD             0.715556   4.0
           D               1.136678   1.0
           FCX             0.655237   5.0
           LUV             1.035258   2.0
           MA              0.729063   3.0
2022-03-01 FCX             1.138332   2.0
           GILD            0.530886   5.0
           LUV             1.574377   1.0
           MRO             0.581748   4.0
           OXY             1.025579   3.0

# 4. Extract the stocks to form portfolios with at the start of each month